*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
img {
  max-width: 50%;
  border-radius: 20px;
}
p {
  margin: 1em;
}
.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #f2e9e4;
  border-bottom: 15px solid #c9ada7;
  width: 90%;
  margin: 0 auto;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
.card-info {
  font-size: 1.2rem;
  color: #000;
}
a {
  text-decoration: none;
  color: #9a8c98;
  font-weight: bold;
  margin: 0.5em;
  border-bottom: 5px dotted #c9ada7;
  cursor: pointer;
}
@media (min-width: 800px) {
  img {
    width: 30%;
  }
  .card {
    width: 60%;
  }
}
